.hot {
    color: red;
    font-size: 6em;
    font-weight: bolder;
}

.warm {
    color: green;
    font-size: 5em;
    font-weight: bold;
}

.cold {
    color: blue;
    font-size: 4em;
    font-weight: normal;
}